<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBarStyle"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBarStyle"></div>
        </div>
      </section>
      <section v-if="!gameWinner" id="controls">
        <button @click="attackMonster">ATTACK</button>
        <button @click="specialAttack" :disabled="isSpecialAttackDisabled">SPECIAL ATTACK</button>
        <button @click="healPlayer">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section class="container" v-else id="game-over">
        <h3>Game Over</h3>
        <h4 v-if="gameWinner === 'Player' || gameWinner === 'Monster'">{{ gameWinner }} wins!</h4>
        <h4 v-else>{{ gameWinner }}</h4>
        <button @click="restartGame">Play Again!</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="(log, key, index) in logs" :key="log">
            <span :class="{
              'log--player': log.attacker === 'Player',
              'log--monster': log.attacker === 'Monster'
            }">{{ log.attacker }}</span>
            <span v-if="log.type === 'heals'"> heals themself for <span class="log--heal">{{ log.amount }} points</span></span>
            <span v-else> attacks for <span class="log--damage">{{ log.amount }} damage</span></span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
